body {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Verdana;
    background-color: white;
    font-size: 14px;
}
/* Used in main.js to determine scrollbar width */
.scrollbar-measure {
    width: 100px;
    height: 100px;
    overflow: scroll;
    position: absolute;
    top: -9999px;
}
/* <hr> properties */
.msect {
    border: 5px solid darkred;
}
#src {
    font-size: 16px;
    text-align: center;
}
#xopt {
    display: none;
}
#explan {
    margin-left: 12px;
    margin-top: 0;
}
/*
 * Pertains to all sections:
 */
 #maintext, #eontext, #eratext, #periodtext {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 12px;
    font-size: 18px;
}
.boxtext {
    margin-left: 12px;
    margin-bottom: 0px;
}
.maindivs, .eondivs, .eradivs, .perioddivs {
    float: left;
    height: 24px;
    text-align: center;
    border-style: inset;
    border-width: 2px;
    margin: 0px;
    padding: 0;
    padding-top: 6px;
}
.clearfix {
    clear: both;
}
#eonadder, #eraadder, #peradder {
    color: brown;
}
div[id$="end"] {
    margin: 4px;
}
.hilite {
    color: white;
}
table {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-style: groove;
    border-color: DarkBlue;
    border-width: 3px;
    border-collapse: collapse;
}
th, td {
    padding: 2px 6px 1px 6px;
}
th {
    border-style: solid;
    border-width: 1px;
    border-color: DarkBlue;
    color: DarkGreen;
    border-bottom-width: medium;
}
td {
    border-style: solid;
    border-width: 1px;
}
table tr:nth-child(odd) td {
    background-color: honeydew;
}
.clicks {
    cursor: pointer;
}
/*
 * The 'main' section view CSS items:
 */
#maintext {
    margin-top: 12px;
}
#Crypto {
    text-align: center;
    border-style: dotted;
    border-width: 1px;
    border-color: gray;
    color: gray;
    height: 22px;
    padding-top: 4px;
}
#eons {
    height: 24px;
    margin: 0px;
}
#Hadean {
    background-color: FireBrick;
    color: White;
    border-color: Gray;
}
#Archean {
    background-color: Crimson;
    color: White;
    border-color: Gray;
}
#Proterozoic {
    background-color: #ff3333;
    border-color: Gray;
}
#Phanerozoic {
    background-color: PowderBlue;
    border-color: Gray;
}
#overall {
    text-align: center;
    font-size: 16px;
    margin-top: 18px;
}
#percent {
    color: blue;
}
#box0 {
    float: left;
    height: 30px;
    margin-top: 4px;
}
#box1, #box3 {
    float: left;
    background-color: lightgray;
    border: 1px;
    height: 30px;
    margin-top: 4px;
}
#box2 {
    float: left;
    background-color: darkblue;
    border: 1px;
    height: 30px;
    margin-top: 4px;
}
/* 
 * The 'eon' section view CSS items
 */
.eonht {
    height: 24px;
    padding-top: 6px;
}
#Hadeanbox, #Archeanbox, #Proterozoicbox, #Phanerozoicbox {
    display: none;
    text-align: center;
}
#Hadeanbox {
    border-style: inset;
    border-width: 2px;
    margin-top: 8px;
}
/*
 * The 'era' section view CSS items:
 */
.eradivs {
    height: 28px;
    border-color: gray;
}
.eraht {
    padding-top: 6px;
}
/*
 * The 'period' section view CSS items:
 */
.perht {
    height: 24px;
    padding-top: 6px;
    text-align: center;
    border-style: inset;
    border-width: 2px;
    margin: 0px;
}
